<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>__LABEL__</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PYTHON__</string>
    <string>__LAUNCHER__</string>
    <string>__SERVICE_ID__</string>
  </array>
  <key>ProcessType</key>
  <string>Background</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>OPC_ENV_FILE</key>
    <string>__ENV_FILE__</string>
  </dict>
  <key>ThrottleInterval</key>
  <integer>5</integer>
  <key>StandardOutPath</key>
  <string>__OUT_LOG__</string>
  <key>StandardErrorPath</key>
  <string>__ERR_LOG__</string>
</dict>
</plist>
