OPC_VAULT_ROOT="$HOME/Documents/Obsidian Vault"
HOST_BIND=127.0.0.1
PORT=9995
ADAPTATION_AGENT_URL=http://host.docker.internal:9994

OTU_API_KEY=
OTU_BASE_URL=https://zexapi.com
IMAGE_MODEL=image-4k
IMAGE_FALLBACK_MODELS=image2
OMNI_MODEL=omni_flash-10s
OMNI_VIDEO_API_MODEL=otu:omni_flash-10s
OMNI_FUNCTION_VIDEO_ASPECT_RATIO=9:16
OMNI_FUNCTION_VIDEO_RESOLUTION=720p
OMNI_FUNCTION_VIDEO_DURATION=10
GROK_API_KEY=
GROK_BASE_URL=https://www.runninghub.cn
GROK_SCRIPT_ROOT=${OPC_VAULT_ROOT}/wiki/视频/06产品适配后的脚本/grok
GROK_IMAGE_ASPECT_RATIO=9:16
GROK_IMAGE_RESOLUTION=4k
GROK_VIDEO_ASPECT_RATIO=9:16
GROK_VIDEO_RESOLUTION=720p
GROK_VIDEO_DURATION=10
GROK_VIDEO_OUTPUT_ROOT=${OPC_VAULT_ROOT}/wiki/视频/10grok视频片段

IMAGE_SIZE=4096x3072
IMAGE_RETRY_ATTEMPTS=3
IMAGE_RETRY_BASE_SECONDS=10
IMAGE_REFERENCE_MAX_SIDE=2048
IMAGE_REFERENCE_JPEG_QUALITY=88
VIDEO_SIZE=720x1280
OVERWRITE=false

SCRIPT_ROOT=${OPC_VAULT_ROOT}/wiki/视频/06产品适配后的脚本/omni
REFERENCE_ROOT=${OPC_VAULT_ROOT}/wiki/产品/产品底图
VIDEO_OUTPUT_ROOT=${OPC_VAULT_ROOT}/wiki/视频/10omni视频片段
